/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color-text:#ff0070;
  --cover:url(../images/cover-image-dark.png);
  --visually-hidden: block;
  --outline:#FF007066;
  
}
@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --accent-color-text:#ff0070;
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --cover:url(../images/cover-image-dark.png);
    --visually-hidden: block;
    --outline:#FF007066;
  }
}