/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --accent-color-text: #353430;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --cover: url(../images/cover-image-light.png);
  --visually-hidden: none;
  --outline:#32312D66;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-color-text: #353430;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --cover: url(../images/cover-image-light.png);
    --visually-hidden: none;
    --outline:#32312D66;
  }
}