.page {
  font-family: "IBM Plex Mono", monospace;
  color: var(--text-color, #f1b2ce);
  background-color: var(--bg-color, #000028);
  background-image: var(--cover);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  margin-block-end: var(--margin-b);
  position: relative;
  block-size: 668px;
  min-block-size: 100vh;
  align-items: center;
  padding-block: var(--padding);
}


.header_decorated {
  position: absolute;
  color: var(--accent-color);
  inset-inline-end: 28px;
  inset-block-start: var(--padding);
  font-size: 18px;
  line-height: 1.39em; 
  text-transform: uppercase;
  display: var(--visually-hidden);
 
}

.header_decorated::after {
  content: "";
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  position: absolute;
  inset-block-start: 30%; 
  inset-inline-end: -60%; 
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-start: var(--padding);
  inset-inline-end: 0;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color-text);
  border-block-start: 1px solid var(--accent-color-text);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: var(--padding);
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color-text);
  border-block-end: 1px solid var(--accent-color-text)
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color-text);
  border: none;
  appearance: none;
  padding: 1.5px 13px;
}

.header__theme-menu-list {
  gap: 15px;
  display: flex;
  flex-direction: column;
  line-height: 1em;
  font-size: 18px;
  
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color-text);
  
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline);
  cursor:pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-underline-offset: 4px;
  text-decoration: underline;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825em;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
}

.title__decor {
  background-color: var(--accent-color);
  --text-color:#000028;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3em;
}

.content {
  display: grid;
  gap: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}

.main__content {
  display: grid;
  gap: 20px;
}

.main__content__different {
  display: grid;
  gap: 20px;
}

.content__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__paragraph:not(:last-child) {
  margin-block-end: 10px;
}

.content__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--accent-color-text);
}

.content__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--text-color);
}

.accent__decor {
  font-weight: 400;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
  
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  margin-block-end: var(--margin-b);
  margin-block-start: var(--padding);
  gap: var(--padding);
}

.content__picture {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.footer {
  block-size: 668px;
  min-block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825em; 
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color);
}


@media (width >= 768px) {

  .header__title {
    margin-inline-start: -20px;
  }

  .title__decor_container {
    width: 50%;
    justify-self: end;
  }

  .main__content .content__card{
    grid-column: 2;
  }

  .main__content .content__title{
    grid-row: span 2;
  }
    

  .main__content {
    grid-template-columns: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem) 1fr;
    column-gap: 20px;
  }

  .main__content__different .content__title {
    max-width: 30%;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .card__item:nth-child(1) {
    grid-column: span 2;
  }

  .card__item:nth-child(2) {
    grid-row: span 2;
  }

  .card__item:nth-child(3) {
    grid-row: span 2;
  }

  .card__item:nth-child(5) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .main__content__different {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 47px 1fr;
    gap: 20px;
  }

  .main__content__different .content__title{
    grid-column: span 3;
  }
}